.countdown {
    font-size: 9rem;
}

.expired {
    color: #9d231a;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .countdown {
        font-size: 4rem;
    }
}
